section .about-us.content-five {
    background: url("../img/about_us_banner3.png") #ededed no-repeat;
    background-size: cover;
    background-position: center center;
    height: 350px;
}

section .about-us.content-five h2 {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    font-size: 46px;
    text-align: center;
    line-height: 60px;
    margin: 0;
    padding: 129px 0 0 4px;
}