section .about-us.content-one {
    height: 280px;
}

section .about-us.content-one > div > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    margin-top: -50%;
    margin-left: -50%;
}


section .about-us.content-one h2 {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 48px;
    color: #FFFFFF;
    width: 400px;
}


section .about-us.content-one .desc {
    display: inline-block;
    padding-left: 7px;
    font-size: 24px;
    color: #FFFFFF;
}

section .about-us.content-one .banner {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 400px;
    margin-top: 50px;
    text-align: right;
}

section .about-us.content-one .img1 {
    position: relative;
    right: 5px;
    float: right;
    height: 280px;
}

section .about-us.content-one .img1 img{
    position: absolute;
    bottom: 0;
    right: 0;
}