section .about-us.content-one {
    background: url("../img/about_us_banner1.png") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 420px;
}

section .about-us.content-one h2 {
    position: relative;
    display: inline-block;
    margin: 100px 125px;
    padding: 27px 46px 30px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 38px;
    text-align: center;
    line-height: 54px;
    background-color: rgba(0, 0, 0,.4);
}