section .about-us.content-four {
    min-height: 300px;
    overflow-x: hidden;
}

section .about-us.content-four h2 {
    margin: 100px 0 39px;
    text-align: center;
    line-height: 45px;
}

section .about-us.content-four nav {
    text-align: center;
    margin-bottom: 100px;
}

section .about-us.content-four nav > .button {
    position: relative;
    display: inline-block;
    margin:  0 15px;
    width: 200px;
    border-radius: 5px;
}

section .about-us.content-four nav > .button a {
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}



section .about-us.content-four nav > .trial.button {
    background-color: #2e7ac5;
}

section .about-us.content-four nav > .enroll.button {
    background-color: #2ecc71;
}