section .about-us.content-one {
    background: url("../img/about-us-banner1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 280px;
}


section .about-us.content-one h2 {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 53px;
    color: #FFFFFF;
    width: 300px;
}


section .about-us.content-one .desc {
    display: inline-block;
    padding-left: 7px;
    font-size: 24px;
    color: #FFFFFF;
}

section .about-us.content-one .banner {
    position: absolute;
    display: inline-block;
    float: left;
    width: 300px;
    margin-top: 50px;
}

section .about-us.content-one .img1 {
    position: relative;
    right: 5px;
    float: right;
    height: 280px;
}

section .about-us.content-one .img1 img{
    position: absolute;
    bottom: 0;
    right: 0;
}