section .about-us.content-three {
    background: url("../img/about_us_banner2.jpg") #ededed no-repeat;
    background-size: cover;
    background-position: center center;
    height: 620px;
}

section .about-us.content-three .container{
    position: absolute;
    display: inline-block;
    right: 0;
    margin-right: 88px;
    padding: 0;
    text-align: center;

}

section .about-us.content-three h2 {
    margin: 130px 0 35px;
    width: 400px;
    text-align: center;
    line-height: 46px;
    font-size: 39px;
}

section .about-us.content-three nav {
    text-align: center;
    margin-bottom: 100px;
}

section .about-us.content-three nav > .button {
    position: relative;
    display: inline-block;
    width: 190px;
    border-radius: 5px;
}

section .about-us.content-three nav > .button a {
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}



section .about-us.content-three nav > .trial.button {
    background-color: #2e7ac5;
    margin-right: 10px;
}

section .about-us.content-three nav > .enroll.button {
    background-color: #2ecc71;
    margin-left: 10px;
}