section .about-us.content-two {
    min-height: 300px;
    overflow-x: hidden;
}

section .about-us.content-two h2 {
    margin: 100px 20px 80px;
    font-size: 32px;
    text-align: center;
    line-height: 45px;
}

section .about-us .content.row .cover .picture {
    margin-bottom: 30px;
}

section .about-us .content.row .cover .picture img {
    width: 100%;
    height: auto;
}

section .about-us .content.row .cover .desc {
    text-align: center;
    padding: 0 10px;
}

section .about-us .content.row {
    margin-bottom: 100px;
}

section .about-us .content.row > div.col-sm-4 {
    padding: 0 20px;

}