section .about-us.content-three > div {
    padding: 100px 0;
}

section .about-us.content-three > div > h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}

section .about-us.content-three > div .teacher-row {
    position: relative;
    display: inline-block;
}



/* Teachers List */
section .about-us.content-three .teacher {
    margin: 0;
    padding-bottom: 20px;
    border: 8px solid #ffffff;
    background-color: #01d9c1;
    text-align: left;
}

section .about-us.content-three .teacher .photo {
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 15px 0;
    height: 100px;
    width: 100px;
    border: 3px solid #ffffff;
    border-radius: 100%;
    float: left;
}

section .about-us.content-three .teacher .photo img {
    width: 100px;
    height: auto;
}

section .about-us.content-three .teacher .id {
    display: inline-block;
    font-size: 22px;
    color: #FFFFFF;
    margin: 10px 0 5px 10px;
}

section .about-us.content-three .teacher .greeting {
    margin: 0;
    padding-left: 10px;
    height: 170px;
    overflow-y: hidden;
    word-break: keep-all;
}
/* EO Teachers List */