section .about-us.content-five {
    background: url("../img/about_us_banner3.png") #ededed no-repeat;
    background-size: cover;
    background-position: center center;
    height: 780px;
}

section .about-us.content-five h2 {
    position: relative;
    display: inline-block;
    float: left;
    top: 480px;
    color: #FFFFFF;
    font-size: 56px;
    text-align: left;
    line-height: 76px;
    margin: 0;
}