section .about-us.content-two {
    min-height: 300px;
    background-color: #b8d9e0;
}

section .about-us.content-two hr {
    border:  2px solid #a3c2c9;
}

section .about-us.content-two h2 {
    margin: 0 20px 65px;
    padding: 100px 22px 0;
    font-size: 26px;
    text-align: center;
    line-height: 36px;
    font-weight: 500;
}

section .about-us.content-two h3 {
    padding: 0 30px;
    margin-bottom: 60px;
    font-size: 32px;
    text-align: center;
    line-height: 48px;
    font-weight: 500;
}

section .about-us .content.row .cover .picture {
    margin-bottom: 30px;
}

section .about-us .content.row .cover .picture img {
    width: 100%;
    height: auto;
}

section .about-us .content.row .cover .desc {
    text-align: center;
    padding: 0 10px;
    font-size: 21px;
}

section .about-us .bot-desc {
    text-align: left;
    padding: 50px 10px 20px;
    font-size: 21px;
    font-weight: 400;
}

section .about-us .content.row {
    margin: 0 0 50px;
}

section .about-us .bot.row {
    margin: 0;
    padding-bottom: 100px;
}

section .about-us .content.row > div.col-sm-4 {
    padding: 0 20px;

}