body {
    margin:0;
    padding:0;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif!important;
}

a {
    text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
    color: black;
}

h2 {
    margin: 0;
}


