section .curriculum.content-three {
    background-size: cover;
    background-position: center center;
    height: 260px;
}

section .curriculum.content-three h2 {
    font-size: 46px;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    margin: 0;
    padding: 111px 34px 0 0;
}