section .curriculum.content-four {
    min-height: 300px;
}

section .curriculum.content-four h2 {
    margin: 100px 0 39px;
    text-align: center;
    line-height: 45px;
}

section .curriculum.content-four > div > .desc {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 50px;
    font-size: 18px;
}


section .curriculum.content-four div > .info {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

section .curriculum.content-four .key {
    margin: 180px 0 200px;
    padding: 0 50px 0;
    text-align: center;
}

section .curriculum.content-four .key img {
    width: 100%;
    height: auto;
}

section .curriculum.content-four > div > .info .level {
    position: absolute;
    display: inline-block;
    border-bottom: 5px solid black;
    max-width: 150px;
    word-wrap: break-word;
}

section .curriculum.content-four > div > .info .title {
    margin-bottom: 8px;
    font-size: 20px;
}

section .curriculum.content-four > div > .info .desc {
    margin-bottom: 8px;
    font-size: 16px;
    color: #2d2d2d;
}

section .curriculum.content-four > div > .info .career {
    bottom: 110%;
    left: 64px;
    color: #cf3030;
    border-color: #cf3030;
}

section .curriculum.content-four > div > .info .resume {
    top: 101.5%;
    left: 27.5%;
    color: #f39c12;
    border-color: #f39c12;
}

section .curriculum.content-four > div > .info .preparation {
    bottom: 86%;
    left: 41.5%;
    color: #3498db;
    border-color: #3498db;
}

section .curriculum.content-four > div > .info .interview {
    top: 75%;
    left: 53.2%;
    color: #9b59b6;
    border-color: #9b59b6;
}

section .curriculum.content-four > div > .info .role-play {
    bottom: 77%;
    left: 67.5%;
    color: #27ae60;
    border-color: #27ae60;
}

section .curriculum.content-four > div > .info .organization {
    top: 71%;
    left: 80%;
    color: #34495e;
    border-color: #34495e;
}


@media all and (max-width: 800px) {
    section .curriculum.content-four > div > .info .title {
        font-size: 16px;
    }

    section .curriculum.content-four > div > .info .desc {
        font-size: 12px;
    }
}

@media all and (max-width: 600px) {
    section .curriculum.content-four div > .info {
        margin-left: -25px;
    }

    section .curriculum.content-four > div > .info .level {
        max-width: 100px;
        word-wrap: break-word;
    }

    section .curriculum.content-four .key {
        margin: 130px 0 150px;
    }
}

@media all and (max-width: 480px) {
    section .curriculum.content-four > div > .info .title {
        font-size: 12px;
    }

    section .curriculum.content-four > div > .info .desc {
        font-size: 8px;
    }

    section .curriculum.content-four > div > .info .level {
        max-width: 70px;
        word-wrap: break-word;
    }

    section .curriculum.content-four .key {
        margin: 130px 0 150px;
    }
}


