section .curriculum.content-three {
    background-size: cover;
    background-position: center center;
    height: 260px;
}

section .curriculum.content-three h2 {
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    margin: 0;
    padding: 10px 10px 0;
}



/* @media */
@media all and (min-width: 380px ) {
    section .curriculum.content-three h2 {
        padding: 50px 10px 0;
    }
}
@media all and (min-width: 480px ) {
    section .curriculum.content-three h2 {
        font-size: 34px;
    }
}

@media all and (min-width: 600px ) {
    section .curriculum.content-three h2 {
        padding: 75px 15px 0;
    }
}

@media all and (min-width: 800px ) {
    section .curriculum.content-three h2 {
        font-size: 36px;
    }
}
@media all and (min-width: 980px ) {
    section .curriculum.content-three h2 {
        font-size: 46px;
        line-height: 50px;
        padding: 85px 35px 0;
    }
}

@media all and (min-width: 1024px ) {

}

@media all and (min-width: 1440px ) {

}
/* EO @media*/