section .curriculum.content-two {
    min-height: 300px;
    overflow-x: hidden;
    background-color: #ebebeb;
}

section .curriculum.content-two h2 {
    margin: 60px 20px 42px;
    font-size: 32px;
    text-align: center;
}

section .curriculum.content-two .desc {
    margin-bottom: 45px;
    padding: 0 20px;
    font-size: 18px;
    text-align: center;
}

section .curriculum.content-two img {
    width: 100%;
    height: auto;
    padding: 0 50px;
    margin-bottom: 100px;
}

section .curriculum.content-two .content.row .cover .desc {
    text-align: center;
    padding: 0 10px;
}


/* Test Style */
section .curriculum.content-two .container-level {
    padding: 0;
}
section .curriculum.content-two .container-level .row {
    margin: 0;
}
section .curriculum.content-two .row div {
    padding: 0;
}
section .curriculum.content-two .container-level .row div img {
    width: 100%;
    margin: 0;
    padding: 0;
}

section .curriculum.content-two .container.container-level {
    margin-bottom: 100px;
}

section .curriculum.content-two .container-level .row .beginner .title,
section .curriculum.content-two .container-level .row .intermediate .title,
section .curriculum.content-two .container-level .row .advanced .title {
    padding: 20px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;
}

section .curriculum.content-two .beg.title {
    background: orange;
    text-align: center;
}
section .curriculum.content-two .inter.title {
    background-color: darkorange;
    text-align: center;
}
section .curriculum.content-two .adv.title {
    background-color: orangered;
    text-align: center;
}

section .curriculum.content-two  .container .level.one {
    background-color: #1C8B73;
}
section .curriculum.content-two .container .level.two {
    background-color: #177269;
}
section .curriculum.content-two .container .level.three {
    background-color: #005A5B;
}
section .curriculum.content-two .container .level.four {
    background-color: #268BAF;
}
section .curriculum.content-two .container .level.five {
    background-color: #1E647D;
}
section .curriculum.content-two .container .level.six {
    background-color: #153F4D;
}
section .curriculum.content-two .container .level.seven {
    background-color: #5DA6A6;
}
section .curriculum.content-two .container .level.eight {
    background-color: #4A8282;
}
section .curriculum.content-two .container .level.nine {
    background-color: #315858;
}

section .curriculum.content-two .container .level {
    padding: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: #d1ccc7;
}

section .curriculum.content-two .container .title-desc,
section .curriculum.content-two .container .level-desc {
    padding: 20px 25px 30px;
    margin-bottom: 5px;
    min-height: 94px;
    text-align: center;
    font-size: 15px;
    color: #000;
    background-color: #FFFFFF;
}

section .curriculum.content-two .container .beginner .level,
section .curriculum.content-two .container .beginner .title-desc,
section .curriculum.content-two .container .beginner .level-desc {
    margin-right: 2px;
}

section .curriculum.content-two .container .intermediate .level,
section .curriculum.content-two .container .intermediate .title-desc,
section .curriculum.content-two .container .intermediate .level-desc {
    margin-left: 3px;
    margin-right: 1px;
}

section .curriculum.content-two .container .advanced .level,
section .curriculum.content-two .container .advanced .title-desc,
section .curriculum.content-two .container .advanced .level-desc {
    margin-left: 3px;
}

@media all and ( max-width: 543px ) {
    section .curriculum.content-two .container.container-level div.level,
    section .curriculum.content-two .container.container-level div.title-desc,
    section .curriculum.content-two .container.container-level div.level-desc {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media all and ( max-width: 1199px ) {
    section .curriculum.content-two .container.container-level div.level,
    section .curriculum.content-two .container.container-level div.title-desc,
    section .curriculum.content-two .container.container-level div.level-desc {
        margin-right: 0;
    }
}


/* eo Test Style */
