section .curriculum.content-one div > img {
    width: 100%;
    height: auto;
}

section .curriculum.content-one .banner {
    position: absolute;
    display: inline-block;
    width: 36%;
    float: left;
    left: 5px;
    top: 0;
    margin-top: 5%;
}

section .curriculum.content-one h2 {
    font-size: 16px;
    color: #FFFFFF;
}

section .curriculum.content-one .desc {
    font-size: 12px;
    color: #FFFFFF;
}

@media all and (min-width: 600px ) {
    section .curriculum.content-one h2 {
        font-size: 28px;
    }
    section .curriculum.content-one .desc {
        font-size: 20px;
    }
}

@media all and (min-width: 800px ) {
    section .curriculum.content-one h2 {
        font-size: 36px;
    }
    section .curriculum.content-one .desc {
        font-size: 24px;
    }
}

@media all and (min-width: 980px ) {
    section .curriculum.content-one {
        background: url('../../themes/x5/img/header/curriculum-banner1.jpg') no-repeat center center;
        height: 280px;
    }
    section .curriculum.content-one .banner {
        left: 0;
    }
    section .curriculum.content-one h2 {
        margin-bottom: 18px;
        font-size: 48px;
    }
    section .curriculum.content-one .desc {
        margin-left: 3px;
        font-size: 24px;
    }
}