section .curriculum.content-five {
    background-color: firebrick;
    text-align: center;
}

section .curriculum.content-five > div {
    padding: 30px 0;
}

section .curriculum.content-five h2 {
    display: inline-block;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}

section .curriculum.content-five .desc {
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    margin: 0 0 30px;
}

section .curriculum.extra .collection {
    position: relative;
    top: -25px;
}

@media  all and (min-width: 380px) {
    section .curriculum.content-five > div {
        padding: 40px 0;
    }
    section .curriculum.content-five h2 {
        font-size: 36px;
    }

}
@media  all and (min-width: 480px) {
    section .curriculum.content-five > div {
        padding: 60px 0;
    }
}
@media  all and (min-width: 600px) {
    section .curriculum.content-five > div {
        padding: 80px 0;
    }
    section .curriculum.content-five h2 {
        margin-bottom: 35px;
        font-size: 40px;
    }

}
@media  all and (min-width: 800px) {
    section .curriculum.content-five > div {
        padding: 80px 0;
    }
    section .curriculum.content-five h2 {
        margin-bottom: 30px;
        font-size: 46px;
    }
    section .curriculum.extra .collection {
        position: relative;
        top: -80px;
    }

}
