section .curriculum.content-two {
    min-height: 300px;
    overflow-x: hidden;
    background-color: #ebebeb;
}

section .curriculum.content-two h2 {
    margin: 100px 20px 80px;
    font-size: 32px;
    text-align: center;
    line-height: 45px;
}

section .curriculum img {
    width: 100%;
    height: auto;
    padding: 0 50px;
    margin-bottom: 100px;
}

section .curriculum .content.row .cover .desc {
    text-align: center;
    padding: 0 10px;
}


/* Test Style */
.container-level {
    padding: 0;
}
.container-level .row {
    margin: 0;
}
.container-level .row div {
    padding: 0;
}
.container-level .row div img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container.container-level {
    margin-bottom: 100px;
}

.container-level .row .beginner .title,
.container-level .row .intermediate .title,
.container-level .row .advanced .title {
    padding: 20px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;
}

.beg.title {
    background: orange;
    text-align: center;
}
.inter.title {
    background-color: darkorange;
    text-align: center;
}
.adv.title {
    background-color: orangered;
    text-align: center;
}

.curriculum .container .level.one {
    background-color: #1C8B73;
}
.curriculum .container .level.two {
    background-color: #177269;
}
.curriculum .container .level.three {
    background-color: #005A5B;
}
.curriculum .container .level.four {
    background-color: #268BAF;
}
.curriculum .container .level.five {
    background-color: #1E647D;
}
.curriculum .container .level.six {
    background-color: #153F4D;
}
.curriculum .container .level.seven {
    background-color: #5DA6A6;
}
.curriculum .container .level.eight {
    background-color: #4A8282;
}
.curriculum .container .level.nine {
    background-color: #315858;
}

.curriculum .container .level {
    padding: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: #d1ccc7;
}

.curriculum .container .title-desc,
.curriculum .container .level-desc {
    padding: 20px 25px 30px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
    color: #000;
    background-color: #FFFFFF;
}

.curriculum .container .beginner .level,
.curriculum .container .beginner .title-desc,
.curriculum .container .beginner .level-desc {
    margin-right: 2px;
}

.curriculum .container .intermediate .level,
.curriculum .container .intermediate .title-desc,
.curriculum .container .intermediate .level-desc {
    margin-left: 3px;
    margin-right: 1px;
}

.curriculum .container .advanced .level,
.curriculum .container .advanced .title-desc,
.curriculum .container .advanced .level-desc {
    margin-left: 3px;
}

@media all and ( max-width: 543px ) {
    .curriculum .container.container-level div.level,
    .curriculum .container.container-level div.title-desc,
    .curriculum .container.container-level div.level-desc {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media all and ( max-width: 1199px ) {
    .curriculum .container.container-level div.level,
    .curriculum .container.container-level div.title-desc,
    .curriculum .container.container-level div.level-desc {
        margin-right: 0;
    }
}


@media all and ( min-width: 34em ) {

    .beg.title {
        background: transparent url('../img/curriculum_begginer.png') no-repeat;
        background-size: cover;
    }
    .inter.title {
        background: transparent url('../img/curriculum_intermediate.png') no-repeat;
        background-size: cover;
    }
    .adv.title {
        background: transparent url('../img/curriculum_advanced.png') no-repeat;
        background-size: cover;
    }


}
/* eo Test Style */
