section .curriculum.content-one {
    background: url("../img/header/curriculum_banner1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 280px;
}

section .curriculum.content-one h2 {
    font-size: 48px;
    color: #FFFFFF;
}

section .curriculum.content-one .desc {
    font-size: 24px;
    color: #FFFFFF;
}

section .curriculum.content-one .banner.img1 {
    position: relative;
    float: left;
    display: inline-block;
    margin-top: 36px;
    max-width: 369px;
    width: 100%;
    height: auto;
}

section .curriculum.content-one .banner.text {
    position: absolute;
    float: left;
    display: inline-block;
    margin-top: 48px;
    width: 400px;
}

section .curriculum.content-one .img2 {
    position: absolute;
    right: 5px;
    float: right;
    height: 280px;
}

section .curriculum.content-one .img2 img{
    position: absolute;
    bottom: 0;
    right: 0;
}