section .enrollment.content-one .banner {
    position: absolute;
    display: inline-block;
    width: 40%;
    right: 5px;
    top: 0;
    margin-top: 4%;
    text-align: right;
}
section .enrollment.content-one h2 {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #FFFFFF;
}
section .enrollment.content-one .desc {
    display: inline-block;
    font-size: 14px;
    color: #FFFFFF;
}

@media all and (min-width: 600px ) {
    section .enrollment.content-one h2 {
        font-size: 28px;
    }
    section .enrollment.content-one .desc {
        font-size: 20px;
    }
}

@media all and (min-width: 800px ) {
    section .enrollment.content-one h2 {
        font-size: 36px;
    }
    section .enrollment.content-one .desc {
        font-size: 24px;
    }
}

@media all and (min-width: 980px ) {
    section .enrollment.content-one .banner {
        right: 0;
    }
    section .enrollment.content-one h2 {
        margin-bottom: 18px;
        font-size: 48px;
    }
    section .enrollment.content-one .desc {
        font-size: 24px;
    }
}