section .enrollment.content-one .banner {
    position: absolute;
    display: inline-block;
    width: 40%;
    right: 5px;
    top: 0;
    margin-top: 4%;
    text-align: right;
}
section .enrollment.content-one h2 {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #FFFFFF;
}
section .enrollment.content-one .desc {
    display: inline-block;
    font-size: 14px;
    color: #FFFFFF;
}

@media all and (min-width: 600px ) {
    section .enrollment.content-one h2 {
        font-size: 28px;
    }
    section .enrollment.content-one .desc {
        font-size: 20px;
    }
}

@media all and (min-width: 800px ) {
    section .enrollment.content-one h2 {
        font-size: 36px;
    }
    section .enrollment.content-one .desc {
        font-size: 24px;
    }
}

@media all and (min-width: 980px ) {
    section .enrollment.content-one .banner {
        right: 0;
    }
    section .enrollment.content-one h2 {
        margin-bottom: 18px;
        font-size: 48px;
    }
    section .enrollment.content-one .desc {
        font-size: 24px;
    }
}


/* @media for Banner */

section.content-one {
    position: relative;
    overflow: hidden;
    height: 89px;
}
section.content-one img {
    position: absolute;
    left: -230px;
    width: auto;
    height: 100%;
}
@media all and ( min-width: 380px) {
    section.content-one { height: 100px; }
    section.content-one img { left: -255px; }
}
@media all and ( min-width: 480px) {
    section.content-one { height: 125px; }
    section.content-one img { left: -310px; }
}
@media all and ( min-width: 560px) {
    section.content-one { height: 140px; }
    section.content-one img { left: -350px; }
}
@media all and ( min-width: 600px) {
    section.content-one { height: 160px; }
    section.content-one img { left: -400px; }
}
@media all and ( min-width: 760px) {
    section.content-one { height: 200px; }
    section.content-one img { left: -510px; }
}
@media all and ( min-width: 860px) {
    section.content-one img { left: -510px; }
}
@media all and ( min-width: 980px) {
    section.content-one img { left: -510px; }
}
@media all and ( min-width: 1024px) {
    section.content-one img { left: -470px; }
}
@media all and ( min-width: 1280px) {
    section.content-one img { left: -320px; }
}
@media all and ( min-width: 1366px) {
    section.content-one img { left: -280px; }
}
@media all and ( min-width: 1440px) {
    section.content-one img { left: -240px; }
}
@media all and ( min-width: 1680px) {
    section.content-one img { left: -120px; }
}
@media all and ( min-width: 1800px) {
    section.content-one img { left: -30px; }
}
@media all and ( min-width: 1920px) {
    section.content-one img { left: 0; }
}


/* EO @media for Banner */