section .enrollment.content-one {
    height: 280px;
}

section .enrollment.content-one h2 {
    text-align: right;
    margin-bottom: 16px;
    font-size: 48px;
    color: #FFFFFF;
}


section .enrollment.content-one .desc {
    text-align: right;
    font-size: 24px;
    color: #FFFFFF;
}


section .enrollment.content-one .banner {
    position: absolute;
    margin-top: 64px;
    float: right;
    right: 0;
    width: 400px;
    display: inline-block;
}

section .enrollment.content-one .img1 {
    position: absolute;
    float: left;
    height: 280px;
}

section .enrollment.content-one .img1 img{
    position: absolute;
    bottom: 0;
    left: 0;

}