.default-footer {
    position: relative;
    margin: 0 auto;
    max-width: 980px;
}

.default-footer .logo-picture,
.default-footer .footer-content {
    position: relative;
    display: inline-block;
    float: left;
}

.default-footer .logo-picture {
    text-align: right;
    margin-left: 5.8125em;
}

.default-footer .logo-picture .logo,
.default-footer .logo-picture .title {
    float: left;
    display: inline-block;
}

.default-footer .logo-picture .logo {
    vertical-align: top;
}


.default-footer .footer-content {
    padding-left: 1.5rem;
    text-align: left;
    font-size: 0.875em;
    line-height: 1.5625rem;
    border-left: 0.125rem solid #898989;
}

.default-footer .footer-content {
    color: #383838;
}

.default-footer .footer-content strong {
    font-weight: 700;
}


.default-footer .logo-picture .title {
    padding: 0 1.25rem;
    margin-right: 1.1875rem;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-weight: 700;
    font-size: 2.0625em;
    color: #2d3e52;
}


@media all and (max-width: 940px) {
    .default-footer .logo-picture {
        padding: 0;
        margin: 0;
        float: none;
    }

    .default-footer .logo-picture .title {
        margin: 0;
    }

    .default-footer .footer-content {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        float: none;
        text-align: center;
    }
}

@media all and (max-width: 427px) {

    .default-footer .logo-picture .title {
        padding: 0;
    }
    .default-footer .logo-picture {
        text-align: center;
    }

    .default-footer .logo-picture .logo {
        float: none;
    }

    .default-footer .logo-picture .title {
        float: none;
    }
    
}