.banner-top {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
}
.banner-top img {
    position: absolute;
    left: -300px;
    width: auto;
    height: 100%;
}

@media all and ( min-width: 420px) {
    .banner-top img {
        left: -260px;
    }
}
@media all and ( min-width: 460px) {
    .banner-top img {
        left: -200px;
    }
}
@media all and ( min-width: 520px) {
    .banner-top img {
        left: -160px;
    }
}
@media all and ( min-width: 580px) {
    .banner-top img {
        left: -120px;
    }
}
@media all and ( min-width: 640px) {
    .banner-top { height: 140px; }
    .banner-top img { left: -100px; }
}
@media all and ( min-width: 780px) {
    .banner-top { height: 160px; }
    .banner-top img { left: -100px; }
}
@media all and ( min-width: 860px) {
    .banner-top { height: 200px; }
    .banner-top img { left: -190px; }
}
@media all and ( min-width: 1024px) {
    .banner-top { height: 240px; }
    .banner-top img { left: -240px; }
}

@media all and ( min-width: 1200px) {
    .banner-top { height: 260px; }
    .banner-top img { left: -260px; }
}
@media all and ( min-width: 1400px) {
    .banner-top { height: 280px; }
    .banner-top img { left: -200px; }
}
@media all and ( min-width: 1500px) {
    .banner-top { height: 280px; }
    .banner-top img { left: -200px; }
}
@media all and ( min-width: 1660px) {
    .banner-top { height: 300px; }
    .banner-top img { left: -160px; }
}



section .forum-content-one .banner {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 5%;
    margin-top: 10%;
}

section .forum-content-one h2 {
    display: inline-block;
    font-size: 24px;
    color: #FFFFFF;
}

@media all and (min-width: 600px ) {
    section .forum-content-one h2 {
        font-size: 28px;
    }
    section .forum-content-one .desc {
        font-size: 20px;
    }
}

@media all and (min-width: 800px ) {
    section .forum-content-one h2 {
        font-size: 36px;
    }
    section .forum-content-one .desc {
        font-size: 24px;
    }
}

@media all and (min-width: 980px ) {
    section .forum-content-one .banner {
        left: 0;
    }
    section .forum-content-one h2 {
        margin-bottom: 18px;
        font-size: 48px;
    }
    section .forum-content-one .desc {
        margin-left: 3px;
        font-size: 24px;
    }
}

