section .forum-content-one {
    background: url("../img/forum-banner1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 280px;
}

section .forum-content-one h2 {
    display: inline-block;
    font-size: 48px;
    color: #FFFFFF;
    width: 300px;
}

section .forum-content-one .desc {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    padding-left: 8px;
    width: 308px;
    font-size: 24px;
    color: #FFFFFF;
}

section .forum-content-one .text {
    position: absolute;
    display: inline-block;
    float: right;
    font-size: 28px;
    color: #FFFFFF;
}

section .forum-content-one .banner {
    position: absolute;
    display: inline-block;
    float: left;
    width: 440px;
    margin-top: 105px;
}

section .forum-content-one .img1 {
    position: absolute;
    display: inline-block;
    right: 5px;
    float: right;
    height: 280px;
}

section .forum-content-one .img1 img{
    position: absolute;
    bottom: 0;
    right: 0;

}


