/** */
.home .gallery {

}

.home.front .content .data > .gallery {
    background-color: #A0CFC7;
}

.home.front .content .data > .gallery > div {
    text-align: center;
}
.home.front .content .data > .gallery  h2 {
    display: inline-block;
    margin: 7.6875rem 0 2.5625rem;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-size: 2.1875em;
    color: #2D292C;
}

.home.front .content .data > .gallery {
    padding: 0;
}

.home.front .content .data > .gallery div .text.info {
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-size: 1.375em;
    margin-bottom: 4.125rem;
    color: #4F5D5D;
}

.home.front .content .data > .gallery > div img {
    padding: 0 2.8125em;
    margin-bottom: 6.25em;
}

