/* Spy Scroll */
.home .scroll-menu {
	display:none;
    position: fixed;
    top: 200px;
    right: 100px;
    z-index: 200;
}
@media all and ( min-width: 940px ) {
	.home .scroll-menu { display: block; }
}
.home .scroll-menu ul {
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(172, 235, 242, 0.75);
}

.home .scroll-menu ul li {
    text-align: center;

}

body {
    position: relative;
}

.home #nav-link {
    padding: 10px 0;
    border-radius: 3px;
}
.home #nav-link a {
    display: block;
    padding: 16px;
    font-size: 18px;
    color: #4d4d4d;
}

.home #nav-link .active {
    position: relative;
    width: 220px;
    left: -10px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #47b89c;
    border-radius: 3px;
}

.home .spy-position {
    top: -100px;
}

.home #desc .spy-position {
    top: -200px;
}

.home #testimonial .spy-position {
    top: -250px;
}
/* EO Spy Scroll */
