/** */
.home .book {

}

.home.front .content .data > .testimonial {
    background-color: #20202A;
}

.home.front .content .data > .testimonial > div {
    padding: 6vw 0;
    text-align: center;
}


.home.front .content .data > .testimonial {

}

.home.front .content .data > .testimonial .text {
    color: #fff;
}

.home.front .content .data > .testimonial div .info.text {
    font-size: 2.5em;
    margin-bottom: 6vw;
}

.home.front .content .data > .testimonial .more.text {

}
.home.front .content .data > .testimonial .collection {
    text-align: left;
    margin-bottom: 3em;

}

.home.front .content .data > .testimonial .collection .inner {
    margin-bottom: 3.5vw;
}

.home.front .content .data > .testimonial .collection .inner .picture {
    width: 40px;
    height: 40px;
}

.home.front .content .data > .testimonial .collection .inner .picture,
.home.front .content .data > .testimonial .collection .inner .name {
    display: inline-block;
    margin: 0 0 1.5vw;
    border: 0;
}

.home.front .content .data > .testimonial .collection .inner .name {
    font-size: 1.1em;
}
.home.front .content .data > .testimonial .collection .inner .picture img {
    border-radius: 100%;
}

.home.front .content .data > .testimonial .collection img {

}

