.home.front .content .data > .desc {
    background-color: #EDEDED;
}

.home.front .content .data >  .desc > div {
    text-align: center;
}

.home.front .content .data >  .desc h2 {
    display: inline-block;
    margin: 4.5625rem 0 1.875rem;
    color: #2c3e50;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-size: 2.1875em;
}

.home.front .content .data >  .desc {
    padding: 0;
}

.home.front .content .data >  .desc > div img {
    margin-bottom: 100px;
}

.home.front .content .data >  .desc div.col-sm-3 > div > img {
    height: auto;
    width: 100%;
    max-width: 120px;
    margin-bottom: 2.125em;
}

.home.front .content .data >  .desc div.col-sm-3 > .title {
    font-size: 1.25em;
    font-weight: bold;
    color: #2c3e50;
}

.home.front .content .data >  .desc div.col-sm-3 > .desc {
    font-size: 1em;
    color: #2c3e50;
}

.home.front .content .data >  .desc div > div.col-sm-3 {
    border-right: 0.125em solid rgba(52,73,94,.26);
    padding: 1.5625em 1.5625em;
}

.home.front .content .data >  .desc div > div.col-sm-3:last-child {
    border-right: none;
}

.home.front .content .data >  .desc div .text.info {
    margin-bottom: 1.875rem;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-size: 1.375em;
    color: #2c3e50;
}

.home.front .content .data >  .desc > div img {
    margin-bottom: 1.875em;
}

.home.front .content .data >  .desc > .row .inner.row {
    margin: 0 0 6.25em;
}



