/** */
.home .book {

}

.home.front .content .data > .book {
    background: url("../img/book_bg.jpg") #ededed no-repeat;
}

.home.front .content .data > .book > div {
    text-align: center;
    padding-bottom: 100px;
}

.home.front .content .data > .book .text {
    color: #fff;
}

.home.front .content .data > .book nav {
    padding: 0 30px;
    cursor: pointer;
}

.home.front .content .data > .book .load-sub {
    display: none;
}

.home.front .content .data > .book div .text.info {
    display: inline-block;
    color: #334353;
    font-size: 2.1875em;
    margin: 6.25rem 0 1.875rem;
    padding: 0.5rem 2.8125rem 0.8125rem;
    border-radius: 0.3125rem;
    background-color: rgba(255,255,255,.75);
}

.home.front .content .data > .book .more.text {
    display: inline-block;
    padding: 0.875em 1.25em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1875em;
    border-radius: 0.1875em;
    margin-bottom: 3.125em;
    cursor: pointer;
    background-color: #F46516;
}

.home.front .content .data > .book .load-more {
    display: block;
    padding: 0.875em 1.25em;
    font-size: 1em;
    letter-spacing: 0.1875em;
    border-radius: 0.1875em;
    color: #FFFFFF;
    background-color: #3498db;
}

.home.front .content .data > .book .collection {
    padding: 0.625em 0.625em 0;
    border-radius: 0.1875em;
    background-color: #ededed;
}

.home.front .content .data > .book .collection .row {
    margin: 0.625em 0.625em 1.25em;
    border-radius: 0.1875em;
}

.home.front .content .data > .book .collection .row > .col-sm-3 {
    padding: 0;
}

.home.front .content .data > .book .collection .row > .col-sm-3 .inner.row {
    height: 25em;
    overflow-y: hidden;
    background-color: #fff;
    text-align: left;
}

.home.front .content .data > .book .collection .inner.row img {
    width: 100%;
    height: auto;
    margin-bottom: 1.625em;
}

.home.front .content .data > .book .collection .row > .col-sm-3 .inner.row > .title {
    padding: 0 0.8125rem;
    margin-bottom: 1.0625em;
    font-size: 1.125em;
    color: #2b2b2b;
}
.home.front .content .data > .book .collection .row > .col-sm-3 .inner.row > .desc {
    height: 9.6875rem;
    overflow-y: hidden;
    padding: 0 0.8125em;
    margin-bottom: 1.5em;
    font-size: 0.9375em;
    color: #838383;
}

.home.front .content .data > .book .collection .inner.row img {
    width: 100%;
    height: auto;
}


