/* Overrides Bootstrap*/
.home .my-slider {
    /*margin-bottom: .3em;*/
    z-index: 500;
}
.home .my-slider nav img:first-child {
    left: 10vw;
}
.home .my-slider nav img:last-child {
    right: 10vw;
}

.home .my-slider .text-info.one,
.home .my-slider .text-info.three,
.home .my-slider .text-info.five {
    color: #000!important;
}
