/** */
.home .gallery {

}

.home.front .content .data > .gallery {
    background-color: #eb6e28;
}

.home.front .content .data > .gallery > div {
    text-align: center;
}
.home.front .content .data > .gallery  h2 {
    display: inline-block;
    margin: 100px 0 45px;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}

.home.front .content .data > .gallery {
    padding: 0;
}

.home.front .content .data > .gallery div .text.info {
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-size: 22px;
    margin-bottom: 68px;
    color: #fff;
}

.home.front .content .data > .gallery > div img {
    padding: 0 45px;
    margin-bottom: 100px;
}

