.home .book {

}

.home.front .content .data > .book > div {
    text-align: center;
    padding-bottom: 100px;
}

.home.front .content .data > .book .text {
    color: #fff;
}

.home.front .content .data > .book nav {
    padding: 0 30px;
    cursor: pointer;
}

.home.front .content .data > .book div .text.info {
    display: inline-block;
    color: #334353;
    font-size: 2.1875em;
    margin: 6.25rem 0 1.875rem;
    padding: 0.5rem 2.8125rem 0.8125rem;
    border-radius: 0.3125rem;
    background-color: rgba(255,255,255,.75);
}

.home.front .content .data > .book .more.text a {
    display: inline-block;
    padding: 0.875em 1.25em;
    font-size: 18px;
    letter-spacing: 0.1875em;
    border-radius: 0.1875em;
    margin-bottom: 3.125em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #F46516;
    text-decoration: none;
}

