/* Spy Scroll */
.home .scroll-menu {
	display:none;
    position: fixed;
    top: 200px;
    right: 50px;
    z-index: 200;
}

.home .scroll-menu ul {
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(172, 235, 242, 0.75);
}

.home .scroll-menu ul li {
    text-align: center;
}

body {
    position: relative;
}

.home #nav-link {
    padding: 10px 0;
    border-radius: 3px;
}
.home #nav-link a {
    display: block;
    padding: 12px;
    font-size: 16px;
    color: #4d4d4d;
}

.home #nav-link .active {
    position: relative;
    width: 220px;
    left: -10px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #47b89c;
    border-radius: 3px;
}

.home .spy-position {
    top: -100px;
}

.home #desc .spy-position {
    top: -200px;
}

.home #testimonial .spy-position {
    top: -250px;
}

@media all and ( min-width: 940px ) {

}
@media all and ( min-width: 1024px ) {
    .home #nav-link a {
        padding: 14px;
        font-size: 18px;
    }
}

@media all and ( min-width: 1280px ) {
    .home .scroll-menu {
        right: 100px;
    }
    .home #nav-link a {
        padding: 16px;
        font-size: 18px;
    }
}
/* EO Spy Scroll */
