/** Overriding bootsrap */
.front .info.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100% !important;
    background-color: #3598DB;
}
.front .info .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
@media all and ( min-width: 544px ) {
    .front .info .col-sm-6:nth-child(1) {
        padding-right: .2em;
    }
    .front .info .col-sm-6:nth-child(2) {
        padding-left: .2em;
    }
}



/** */
.home .info {

}

.home.front .content .data >  .info > div {
    text-align: center;
}
.home.front .content .data >  .info h2 {
    display: inline-block;
    color: #fff;
    margin-top: 10%;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-size: 2em;
    font-weight: bold;
}

.home.front .content .data >  .info.container {
    padding: 0;
}

.home.front .content .data >  .info div .text.info {
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-size: 20px;
    padding: 2.5em 0;
    color: #fff;
}

.home.front .content .data >  .info > div img {
    padding: 0 5%;
    margin-bottom: 5em;
}

