/** */
.home .testimonial .col-sm-6 {
    padding-left: 0;
}

.home .testimonial > div {
    text-align: center;
    padding: 140px 0 0;
}

.home.front .content .data > .testimonial {
    background-color: #F7CD47;
}

.home.front .content .data > .testimonial .text {
    color: #2c3e50;
}

.home.front .content .data > .testimonial div .info.text {
    display: inline-block;
    font-size: 41px;
    color:  #2d2d2d;
    margin-bottom: 8px;
}

.home.front .content .data > .testimonial .collection {
    text-align: left;
}

.home.front .content .data > .testimonial .collection .row {
    margin: 0;
}

.home.front .content .data > .testimonial .collection .inner {
    height: 175px;
    overflow-y: hidden;
    margin-bottom: 20px;
}

.home.front .content .data > .testimonial .collection .inner .picture {
    width: 50px;
    height: 50px;
    margin-bottom: 14px;
}

.home.front .content .data > .testimonial .collection .inner .picture,
.home.front .content .data > .testimonial .collection .inner .name {
    display: inline-block;
    border: 0;
}

.home.front .content .data > .testimonial .collection .inner .name {
    font-size: 18px;
    font-weight: bold;
}
.home.front .content .data > .testimonial .collection .inner .comment.text {
    padding-left: 20px;
}

.home.front .content .data > .testimonial .collection .inner .picture img {
    border-radius: 100%;
}

