/** Overriding bootsrap */
.front .info.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100% !important;
    background-color: #2980b9;
}
.front .info .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
@media all and ( min-width: 544px ) {
    .front .info .col-sm-6:nth-child(1) {
        padding-right: .2em;
    }
    .front .info .col-sm-6:nth-child(2) {
        padding-left: .2em;
    }
}



/** */
.home .info {

}

.home.front .content .data >  .info > div {
    text-align: center;
}
.home.front .content .data >  .info h2 {
    display: inline-block;
    margin: 100px 0 45px;
    color: #fff;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-size: 40px;
    font-weight: bold;
}

.home.front .content .data >  .info.container {
    padding: 0;
}

.home.front .content .data >  .info div .text.info {
    margin-bottom: 68px;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-size: 22px;
    color: #fff;
}

.home.front .content .data >  .info > div img {
    padding: 0 45px;
    margin-bottom: 100px;
}

