/** */
.home .testimonial {

}

.home.front .content .data > .testimonial {
    background-color: #F7CD47;
}

.home.front .content .data > .testimonial .text {
    color: #2c3e50;
}

.home.front .content .data > .testimonial div .info.text {
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    margin: 100px 0 30px;
}

.home.front .content .data > .testimonial .collection {
    text-align: left;
}

.home.front .content .data > .testimonial .collection .inner {
    height: 190px;
    overflow-y: hidden;
    margin-bottom: 25px;
}

.home.front .content .data > .testimonial .collection .inner .picture {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.home.front .content .data > .testimonial .collection .inner .picture,
.home.front .content .data > .testimonial .collection .inner .name {
    display: inline-block;
    border: 0;
}

.home.front .content .data > .testimonial .collection .inner .name {
    font-size: 18px;
    font-weight: bold;
}
.home.front .content .data > .testimonial .collection .inner .comment.text {
    padding-left: 20px;
}

.home.front .content .data > .testimonial .collection .inner .picture img {
    border-radius: 100%;
}

