/** */
.home .book {

}

.home.front .content .data > .book {
    background: url("../img/book_bg.jpg") #ededed no-repeat;
}

.home.front .content .data > .book > div {
    text-align: center;
    padding-bottom: 100px;
}

.home.front .content .data > .book .text {
    color: #fff;
}

.home.front .content .data > .book nav {
    padding: 0 30px;
    cursor: pointer;
}

.home.front .content .data > .book .load-sub {
    display: none;
}

.home.front .content .data > .book div .text.info {
    display: inline-block;
    color: #334353;
    font-size: 35px;
    margin: 100px 0 30px;
    padding: 23px 75px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.75);
}

.home.front .content .data > .book .more.text {
    display: inline-block;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 5px;
    margin-bottom: 50px;
    background-color: #F46516;
}

.home.front .content .data > .book .load-more {
    display: block;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #3598DC;
}

.home.front .content .data > .book .collection {
    padding: 10px 10px 0;
    border-radius: 5px;
    background-color: #ededed;
}

.home.front .content .data > .book .collection .row {
    margin: 10px 10px 20px;
    border-radius: 5px;
}

.home.front .content .data > .book .collection .row > .col-sm-3 {
    padding: 0;
}

.home.front .content .data > .book .collection .row > .col-sm-3 .inner.row {
    height: 400px;
    overflow-y: hidden;
    background-color: #fff;
    text-align: left;
}

.home.front .content .data > .book .collection .inner.row img {
    width: 100%;
    height: auto;
    margin-bottom: 26px;
}

.home.front .content .data > .book .collection .row > .col-sm-3 .inner.row > .title {
    padding: 0 13px;
    margin-bottom: 17px;
    font-size: 18px;
    color: #2b2b2b;
}
.home.front .content .data > .book .collection .row > .col-sm-3 .inner.row > .desc {
    height: 155px;
    overflow-y: hidden;
    padding: 0 13px;
    margin-bottom: 1.5em;
    font-size: 15px;
    color: #838383;
}

.home.front .content .data > .book .collection .inner.row img {
    width: 100%;
    height: auto;
}


