section .help.content-one div > img {
    width: 100%;
    height: auto;
}

section .help.content-one .banner {
    position: absolute;
    display: inline-block;
    width: 36%;
    float: left;
    left: 5px;
    top: 0;
    margin-top: 5%;
}

section .help.content-one h2 {
    font-size: 16px;
    color: #FFFFFF;
}

section .help.content-one .desc {
    font-size: 12px;
    color: #FFFFFF;
}

section .help.content-one .text {
    position: absolute;
    display: inline-block;
    float: right;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}

section .help.content-one .how {
    width: 11%;
    right: 39%;
    top: 53%;
    text-align: center;
}

section .help.content-one .what {
    width: 13%;
    right: 30%;
    top: 15%;
    text-align: center;
}

section .help.content-one .why {
    width: 10%;
    right: 5%;
    top: 21%;
    text-align: center;
}

section .help.content-one .who {
    width: 13%;
    right: 0%;
    top: 58%;
    text-align: center;
}

@media all and (min-width: 600px ) {
    section .help.content-one .text {
        font-size: 14px;
    }
}

@media all and (min-width: 600px ) {
    section .help.content-one h2 {
        font-size: 28px;
    }
    section .help.content-one .desc {
        font-size: 20px;
    }
    section .help.content-one .text {
        font-size: 16px;
    }
}

@media all and (min-width: 800px ) {
    section .help.content-one h2 {
        font-size: 36px;
    }
    section .help.content-one .desc {
        font-size: 24px;
    }
    section .help.content-one .text {
        font-size: 22px;
    }
}

@media all and (min-width: 980px ) {
    section .help.content-one {
        background: url('../../themes/x5/img/header/help-banner1.jpg') no-repeat center center;
        height: 280px;
    }
    section .help.content-one .banner {
        left: 0;
    }
    section .help.content-one h2 {
        margin-bottom: 18px;
        font-size: 48px;
    }
    section .help.content-one .desc {
        margin-left: 3px;
        font-size: 24px;
    }
    section .help.content-one .text {
        font-size: 26px;
    }
}

