section .help.content-two > div {
    padding: 30px 0;
}

section .help.content-two {
    background-color: #d8f1e4;
}

section .help.content-two h2 {
    display: block;
    margin-bottom: 26px;
    font-size: 28px;
    color: #897562;
    text-align: center;
}

section .help.content-two .company-picture {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    max-width: 684px;
    border: 2px solid #cde5d8;
}

section .help.content-two .company-picture img {
    width: 100%;
    height: auto;
}
section .help.content-two .line {
    display: inline-block;
    width: 100%;
    clear: both;
}

section .help.content-two .line .title {
    float: left;
    padding: 3px;
    width: 150px;
    font-size: 16px;
    color: #2d2d2d;
}

section .help.content-two .line .desc {
    float: left;
    padding: 3px;
    font-size: 16px;
    color: #2d2d2d;
}

/* Spy Scroll */
body {
    position: relative;
}

#nav-link {
    position: absolute;
    display: none;
    top: 135px;
    right: 0;
    height: 126px;
    width: 276px;
    border-radius: 3px;
    background-color: #ff9999;
    z-index: 200;
}

.nav-item a {
    margin: 14px 0 0 20px;
    color: #FFFFFF;
}

#nav-link .active {
    font-weight: 600;
}

#nav-link .active::before {
    content: "> ";
}
/* EO Spy Scroll */

@media all and (min-width: 380px ) {
    section .help.content-two .line {
        padding: 0 20px;
    }
}

@media all and (min-width: 600px ) {
    section .help.content-two > div {
        padding: 50px 0;
    }
    section .help.content-two h2 {
        font-size: 32px;
        text-align: left;
        padding-left: 20px;
    }
    section .help.content-two .company-picture {
        margin-bottom: 45px;
    }
    section .help.content-two .line .title {
        font-size: 18px;
    }
    section .help.content-two .line .desc {
        font-size: 18px;
    }
}

@media all and (min-width: 800px ) {
    section .help.content-two h2 {
        font-size: 36px;
    }
    section .help.content-two .company-picture {
       margin-left: 20px;
    }
    section .help.content-two .line .title {
        width: 175px;
    }
}

@media all and (min-width: 980px ) {
    section .help.content-two > div {
        padding: 70px 0;
    }
    #nav-link {
        display: block;
    }
}
@media all and (min-width: 1024px ) {
    section .help.content-two h2 {
        padding-left: 0;
    }
    section .help.content-two .company-picture {
        margin-left: 0;
    }
    section .help.content-two .line {
        padding: 0;
    }
}