section .help.content-two > div {
    padding: 30px 0;
}

section .help.content-two {
    background-color: #d8f1e4;
}

section .help.content-two h2 {
    display: block;
    margin-bottom: 26px;
    font-size: 34px;
    color: #897562;
}

section .help.content-two .company-picture {
    position: relative;
    display: block;
    margin-bottom: 45px;
    max-height: 244px;
    max-width: 684px;
    border: 2px solid #cde5d8;
}

section .help.content-two .company-picture img {
    width: 100%;
    height: auto;
}

section .help.content-two .line {
    display: inline-block;
    clear: both;
}

section .help.content-two .line .title {
    float: left;
    padding: 3px;
    width: 175px;
    font-size: 18px;
    font-weight: 600;
    color: #2d2d2d;
}

section .help.content-two .line .desc {
    float: left;
    padding: 3px;
    width: 510px;
    font-size: 18px;
    color: #2d2d2d;
}

/* Spy Scroll */
body {
    position: relative;
}

#nav-link {
    position: absolute;
    top: 135px;
    right: 0;
    height: 126px;
    width: 276px;
    border-radius: 3px;
    background-color: #ff9999;
}

.nav-item a {
    margin: 14px 0 0 20px;
    color: #FFFFFF;
}

#nav-link .active {
    font-weight: 600;
}

#nav-link .active::before {
    content: "> ";
}
/* EO Spy Scroll */



@media all and (min-width: 600px ) {
    section .help.content-one h2 {
        font-size: 28px;
    }
    section .help.content-one .desc {
        font-size: 20px;
    }
}

@media all and (min-width: 800px ) {
    section .help.content-one h2 {
        font-size: 36px;
    }
    section .help.content-one .desc {
        font-size: 24px;
    }
}

@media all and (min-width: 980px ) {
    section .help.content-two > div {
        padding: 70px 0;
    }

    section .help.content-one .banner {
        right: 0;
    }
    section .help.content-one h2 {
        margin-bottom: 18px;
        font-size: 48px;
    }
    section .help.content-one .desc {
        font-size: 24px;
    }
}