section .help.content-one {
    background: url("../img/help-banner1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 280px;
}

section .help.content-one h2 {
    display: inline-block;
    font-size: 53px;
    border-right: 6px solid #FFFFFF;
    color: #FFFFFF;
    height: 121px;
    width: 126px;
}

section .help.content-one .desc {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    padding-left: 8px;
    width: 308px;
    font-size: 24px;
    color: #FFFFFF;
}

section .help.content-one .text {
    position: absolute;
    display: inline-block;
    float: right;
    font-size: 28px;
    color: #FFFFFF;
}

section .help.content-one .banner {
    position: absolute;
    display: inline-block;
    float: left;
    width: 440px;
    height: 121px;
    margin-top: 60px;
}

section .help.content-one .img1 {
    position: absolute;
    display: inline-block;
    right: 5px;
    float: right;
    height: 280px;
}

section .help.content-one .img1 img{
    position: absolute;
    bottom: 0;
    right: 0;

}

section .help.content-one .how {
    right: 405px;
    top: 145px;
}

section .help.content-one .what {
    right: 320px;
    top: 35px;

}

section .help.content-one .why {
    right: 65px;
    top: 55px;
}

section .help.content-one .who {
    right: 30px;
    top: 160px;
}

