section .help.content-four {
    background-color: #6799cb;
}

section .help.content-four h2 {
    display: inline-block;
    margin-top: 72px;
    margin-bottom: 26px;
    font-size: 34px;
    color: #f7eac8;
}

section .help.content-four .line-faq {
    display: inline-block;
    border-bottom: 1px solid #b4c3d2;
    clear: both;
}

section .help.content-four .line-faq:last-child {
    margin-bottom: 85px;
}

section .help.content-four .line-faq .icon {
    float: left;
    margin: 5px 10px 5px 5px;
    padding: 0;
    width: 26px;
    height: 26px;
}

section .help.content-four .line-faq .title {
    float: left;
    padding-top: 5px;
    width: 638px;
    font-size: 18px;
    color: #ffffff;
}

section .help.content-four .line-faq .desc {
    display: none;
    float: left;
    padding: 10px 0;
    width: 638px;
    font-size: 16px;
    color: #ffffff;
}

section .help.content-four .line-faq:hover {
    background-color: #73aadc;
    cursor: pointer;
}



