section .level-test.content-three {
    background-size: cover;
    background-position: center center;
    height: 787px;
}

section .level-test.content-three h2 {
    position: relative;
    display: inline-block;
    margin-top: 280px;
    color: #FFFFFF;
    font-size: 44px;
    text-align: center;
    line-height: 68px;
}