section .level-test.content-one .banner {
    position: absolute;
    display: inline-block;
    width: 36%;
    float: left;
    left: 5px;
    top: 0;
    margin-top: 5%;
}

section .level-test.content-one h2 {
    font-size: 16px;
    color: #FFFFFF;
}

section .level-test.content-one .desc {
    font-size: 12px;
    color: #FFFFFF;
}

@media all and (min-width: 600px ) {
    section .level-test.content-one h2 {
        font-size: 28px;
    }
    section .level-test.content-one .desc {
        font-size: 20px;
    }
}

@media all and (min-width: 800px ) {
    section .level-test.content-one h2 {
        font-size: 36px;
    }
    section .level-test.content-one .desc {
        font-size: 24px;
    }
}

@media all and (min-width: 980px ) {
    section .level-test.content-one .banner {
        left: 0;
    }
    section .level-test.content-one h2 {
        margin-bottom: 18px;
        font-size: 48px;
    }
    section .level-test.content-one .desc {
        margin-left: 3px;
        font-size: 24px;
    }
}