section .level-test.content-one {
    background: url("../img/level-test-banner1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 240px;
}

section .level-test.content-one h2 {
    font-size: 53px;
    color: #FFFFFF;
}

section .level-test.content-one .desc {
    margin-left: 5px;
    font-size: 24px;
    color: #FFFFFF;
}

section .level-test.content-one .banner.img1 {
    position: relative;
    float: left;
    display: inline-block;
    margin-top: 18px;
    max-width: 369px;
    width: 100%;
    height: auto;
}

section .level-test.content-one .banner.text {
    position: absolute;
    float: right;
    display: inline-block;
    margin-top: 55px;
    width: 290px;
    right: 300px;
}

section .level-test.content-one .img2 {
    position: absolute;
    right: 5px;
    float: right;
    height: 240px;
}

section .level-test.content-one .img2 img{
    position: absolute;
    bottom: 0;
    right: 0;
}