

footer .grid3{
    /*height:550px;*/
    background:url("../img/footer.jpg");
    background-size: 1920px 100%;
    overflow:hidden;
    padding:10px 0 45px 0;
}

footer .footer-menu {
    max-width:960px;
    margin:auto;
    color:#fff;
}

footer .footer-menu {
    max-width: 960px;
    margin: auto;
    color: #fff;
}

footer .footer-menu > div{
    padding:55px 30px;
    box-sizing:border-box;
}

footer .footer-menu .footer-list-title{
    margin-bottom:17px;
    font-size:1.8em;
}

footer .footer-menu .footer-list .row{
    margin-bottom:20px;

}

footer .footer-menu .footer-list .row b{
    display:block;
    margin-bottom:20px;
}

footer .footer-menu .footer-list{
    word-break:break-all;
}

footer .footer-menu .footer-list.menus ul{
    padding:0;
    margin:0;
    list-style:none;
}

footer .footer-menu .footer-list.menus ul li{
    margin-bottom:10px;
}

footer .footer-menu .footer-list.menus ul li a{
    font-size:1.2em;
    color:#fff;
    text-decoration:none;
}

footer .footer-menu .footer-list.menus ul li a:hover{
    color:yellow
}
/*eo footer.menu*/

/*.footer.address*/
footer .footer-menu .footer-list.address .row{
    font-size:.9em;
}
/*eo .footer.address*/

/*.footer.contact*/
footer .footer-menu .footer-list.contact form input[type='text'],
footer .footer-menu .footer-list.contact form input[type='email'],
footer .footer-menu .footer-list.contact form textarea{
    width:100%;
    padding:12px;
    margin-bottom:10px;
    border:0;
    background-color:rgba(255,255,255,.3);
    color:#fff;
    box-sizing:border-box;
}

footer .footer-menu .footer-list.contact form textarea{
    height:160px;
    font-family:arial;
    resize:none;
}

footer .footer-menu .footer-list.contact form input[type='submit']{
    padding:6px 12px;
    background-color:transparent;
    font-size:15px;
    color:#fff;
    border:1px solid rgba(255,255,255,.6);
    cursor:pointer;
}

footer .footer-menu .footer-list.contact form input[type='submit']:hover{
    color:black;
    background-color:#fff;
}

footer .footer-menu .footer-list.contact ::-webkit-input-placeholder {
    color: #fff;
}

footer .footer-menu .footer-list.contact :-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

footer .footer-menu .footer-list.contact ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

footer .footer-menu .footer-list.contact :-ms-input-placeholder {
    color: #fff;
}

/*eo .footer.contact*/

footer .grid3 .a,
footer .grid3 .b{
    /*padding-left:20%;*/
    text-align:center;
}

@media all and ( min-width: 400px ) {
    footer .grid3 .a,
    footer .grid3 .b{
        /*padding-left:23%;*/
    }
}

@media all and ( min-width: 460px ) {
    footer .grid3 .a,
    footer .grid3 .b{
        /*padding-left:31%;*/
    }
}

@media all and ( min-width: 600px ) {
    footer .grid3 .a,
    footer .grid3 .b,
    footer .grid3 .c{
        padding:55px 10px;
        text-align:left;
    }
}

@media all and ( min-width: 800px ) {
    footer .grid3 .a,
    footer .grid3 .b,
    footer .grid3 .c{
        padding:55px 10px;
    }
}