/** Follow Strict SMACSS */
header {
    background-color: #fff;
    border-bottom: 1px solid #9d9d9d;
}

/** Logo */
header .logo {
    display: inline-block;
    padding-top: 30px;
}

header .logo a {

    text-decoration: none;
}

header .logo img {
    height: auto;
}

header .logo .title {
    display: inline;
    padding-left: 1.25rem;
    font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif;
    font-weight: bold;
    font-size: 2.0625em;
    color: #2d3e52;
}


header .logo .title:hover {
    text-decoration: none;
}

@media all and ( max-width: 600px ) {
    header div.logo {
        text-align: center;
    }
}
/** EO Logo */



/** Nav.Top-Menu module */
header nav.menu, nav.top-menu {
    overflow:auto;
    overflow-y: hidden;
}

nav.top-menu {
    top: 1.1875em;
    color: #6e849a;
}

nav.top-menu .menu-icon {
    font-size: 2.375em;
}

nav.top-menu ul {
    margin: 0;
    padding: 0;
    list-style : none;
}

nav.top-menu ul li {
    float: left;
    display:block;
    margin-left: 0.8125em;
}

nav.top-menu ul li:last-child {
    float:right;

}

nav.top-menu ul li a {
    display:inline-block;
    padding: 0 0.125em 0;
    color: inherit;
    text-decoration: none;
}

nav.top-menu ul li:last-child a {
    margin-right: 0.5em;
}

nav.top-menu ul li a:hover {
    color: #0e7ecc;
}

nav.top-menu ul li span {
  font-size: 0.8125em;
    cursor: pointer;
}

nav.top-menu ul li a.icon {
    margin: 0;
    padding: 0.1875em 0.625em 0 0;
}


nav.top-menu ul li.active a span {
    color: #0e7ecc;
}

nav.top-menu ul li.active a:hover {
    background-color: transparent;
}


@media all and ( max-width: 599px ) {
    nav.top-menu, nav.menu {
        border-radius: 0;
        background-color: #2980b9;
        color: #fff;
        border: 0;
    }
    nav.top-menu ul li a {
        display:inline-block;
        color: inherit;
        padding: 0.5em 0.625em;
        text-decoration: none;
        border-bottom: 0.0625em hidden;
    }

    header .menu ul li a,
    nav.top-menu ul li a:hover {
        border: none!important;
    }
    nav.top-menu ul li > span {
        display:inline-block;
        color: inherit;
        padding: 0.5em 0.625em;
        font-size: 0.9375em;
        text-decoration: none;
        border-bottom: 0.0625em hidden;
    }


    nav.top-menu ul li a span {
        font-size: 0.9375em;
    }
    div.collection div.row div.col-sm-4:first-child img {
        display: none;
    }
}

@media all and ( min-width: 600px ) {
    .top-menu {
        position: absolute;
        top: 0;
        right: 0;
    }
    .top-menu .menu-icon {
        display:none;
    }
}


/** EO ( End Of ) top menu module */


/** nav.menu      Main Menu */

header .menu {
    display:none;
    overflow:auto;
}
header nav.menu {
    /*bottom: 44px;*/
}

header .menu ul {
    margin: 0;
    padding: 0;
    list-style : none;
}

header .menu ul li a {
    font-size: 1.1em;
    display: block;
    padding: 0.25em 0.5625em 0.1875em;
    text-decoration: none;
    color: #2d3e52;
}

header .menu ul li:nth-child(6) a {
    /*padding-right: 0;*/
}

header .menu ul li a:hover {
    color: #0e7ecc;
    /*background-color: #b0acac;
    color: #FFFFFF;
    border-radius: 0.1875em;*/
}

header .menu ul li.active a {
    color: #0e7ecc;
}
header .menu ul li.active a:hover {
    background-color: transparent;
}



@media all and ( min-width: 600px ) {
    header .menu {
        position: absolute;
        display: block !important;
        bottom: 0.9375em;
        right: 0;
    }
    header .menu ul li {
        float: left;
    }
    .menu .close {
        display:none;
    }
}




/** eo nav.menu */




/** site edit */
.site-edit-enabled {
    color: orangered;
    font-weight: 700;
}

