aside.sidebar {
    overflow: auto;
    z-index: 1234567890;
    margin-bottom: .3em;
}

.sidebar ul {
    position:relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    float:left;
    width: 25%;
    text-align: center;
}
.sidebar ul li a {
    display: block;
}
.sidebar ul li img {
    display: block;
    width: 100%;
    height: auto;
}

@media all and ( min-width: 600px ) {
    .sidebar {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .sidebar ul{

    }
    .sidebar ul li {
        float: left;
        margin-bottom: .2em;
        border: 0;
        width: 100px;
    }
    .sidebar ul li img {
        width: 95%;
        height: auto;
    }
}


@media all and ( min-width: 1200px ) {
    .sidebar {
        position: absolute;
        top: 0px;
        left: -100px;
        right: auto;
    }
    .home .sidebar {
        left: .6em; /* content padding */
    }
    .sidebar ul li {
        float: none;
    }
}
