.my-slider {
    position: relative;
}

.my-slider ul {
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    overflow:hidden;
}


.my-slider ul li {
    position:absolute;
    top:0;
}
.my-slider ul li:first-child {
    position: relative;
    z-index: 101;
}


.my-slider ul li a {
    display:block;
    position:relative;
}

.my-slider ul li img {
    display:block;
    width:100%;
}

.my-slider ul li p {
    position:absolute;
    z-index: 1;
    margin:0;
    left:0;
    right:0;
    bottom: 20px;
    text-align: center;
}

.my-slider ul li p em {
    display:block;
    padding: .2rem .4rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
}

.my-slider ul li p i {
    display:block;
    padding: 0 .4rem .2rem;
    background-color: rgba(230, 230, 230, 0.5);
    font-size: 1.2em;
}


.my-slider nav {
    position: relative;
    width:100%;
}

.my-slider nav img {
    display: block;
    position: absolute;
    z-index: 987654321;
    width:10%;
    max-width: 32px;
    cursor: pointer;
}
.my-slider nav img:first-child {
    left: 1rem;
}
.my-slider nav img:last-child {
    right: 1rem;
}

/* EO of Slider Images */

.my-slider .text-info {
    position: absolute;
    width: 100%;
}

.my-slider .text-info > .inner {
    padding: 0 15%;
    max-width: 960px;
    margin:auto;
}

.my-slider .text-info > .inner .text {
    padding: 10px 10px;
    display: inline-block;
}

.my-slider .text-info > .inner .text.top {
    color: #fff;
    padding: .6em;
}

.my-slider .text-info > .inner .text.bottom {
    margin-bottom: 3%;
    background-color: rgba(255,255,255,.7);
}

.my-slider .text-info > .inner .text.more {
    position: relative;
    padding-right: 25px;
    margin-bottom: 5%;
    border-radius: 3px;
    background-color: #fff;
    font-size: .9em;
    color: #3498db;
    cursor: pointer;
}

.my-slider .text-info > .inner .text.more > a {
    text-decoration: none;
    cursor: auto;
    color: #3498db;
}

.my-slider .text-info > .inner .text.more:hover{
    color:#444;
}

.my-slider .text-info > .inner .text.more .triangle{
    display: block;
    position: absolute;
    right: -15px;
    top: 30%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #3498db;
}

.my-slider .text-info > .inner .text.more:hover .triangle{
    border-left: 5px solid #444;
}

/* Slider Text Info One */

.text-info.one {
    top: 5%;
}

.text-info.one > .inner .text.top {
    background-color: #e74c3c;
    font-size: 1.4em;
}

.text-info.one > .inner .text.bottom {
    font-size: 1em;
}

/* EO Slider Text Info One */

/* Slider Text Info Two */
.text-info.two {
    top:5%;
}

.text-info.two > .inner > .wrapper {
    width: 230px;
    height: 230px;
    display: inline-block;
    position: relative;
    background-color: rgba(0,0,0,.6);
    white-space: normal;
    border-radius: 100%;
}

.text-info.two > .inner .text-items {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.text-info.two > .inner .text.top {
    padding: 37px 26px 10px 26px;
    background-color: transparent;
    font-size: 1em;
    color: #2ecc71;
    text-align: center;
}

.text-info.two > .inner .text.bottom {
    height: 63px;
    padding: 0 22px;
    color: #fff;
    display: block;
    font-size: .8em;
    background-color: transparent;
    overflow: hidden;
}

.text-info.two > .inner .text.more {
    position: absolute;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
}

.text-info.two > .inner .text.more > a {
    color: #2ecc71;
}

.text-info.two > .inner .text.more .triangle {
    display: none;
}

/* EO Slider Text Info Two */

/* Slider Text Info Three */

.text-info.three {
    right: 0;
    bottom: 0;
}

.text-info.three > .inner .text.top {
    background-color: #27ae60;
    font-size: 1.4em;
}

.text-info.three > .inner .text.bottom {
    font-size: 1em;
}

/* EO Slider Text Info Three */

/* Slider Text Info Four */
.text-info.four {
    top:5%;
}
.text-info.four > .inner {
    text-align: right;
}

.text-info.four > .inner > .wrapper {
    width: 230px;
    height: 230px;
    display: inline-block;
    position: relative;
    background-color: rgba(0,0,0,.6);
    white-space: normal;
    border-radius: 5%;
    text-align: left;
}

.text-info.four > .inner .text-items {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.text-info.four > .inner .text.top {
    padding: 10px;
    background-color: transparent;
    font-size: 1.1em;
    color: #2ecc71;
    text-align: center;
}

.text-info.four > .inner .text.bottom {
    padding: 10px;
    color: #fff;
    display: block;
    font-size: .8em;
    margin-bottom: 0;
    background-color: transparent;
    overflow: hidden;
}

.text-info.four > .inner .text.more {
    position: absolute;
    width: 100%;
    bottom: 10px;
    margin: 0;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    text-align: right;
    box-sizing: border-box;
}

.text-info.four > .inner .text.more > a {
    color: #2ecc71;
}

.text-info.four > .inner .text.more .triangle {
    display: none;
}

/* EO Slider Text Info Four */

/* Slider Text Info Five */

.text-info.five {
    right: 0;
    bottom: 0;
    text-align: right;
}

.text-info.five > .inner .text.top {
    background-color: #95a5a6;
    font-size: 1.4em;
}

.text-info.five > .inner .text.bottom {
    font-size: 1em;
}

/* EO Slider Text Info Five */


/* @media */


@media all and ( min-width: 420px ) {

}

@media all and ( min-width: 480px ) {

}

@media all and ( max-width: 599px ) {
    .my-slider .text-info {
        display: none;
    }
}

@media all and ( min-width: 600px ) {
    .my-slider .text-info > .inner .text.top {
        font-size: 1em;
        display: inline-block;
    }
    .my-slider .text-info > .inner .text.bottom {
        display: none;
    }
    .my-slider .text-info > .inner .text.more {
        display: none;
    }

    .my-slider .text-info.two > .inner .text.top {
        padding: 40% 26px 5px;
    }
    .my-slider .text-info.two > .inner > .wrapper {
        width: 150px;
        height: 150px;
    }
    .my-slider .text-info.four > .inner > .wrapper {
        width: 150px;
        height: 100px;
    }
}

@media all and ( min-width: 800px ) {
    .my-slider .text-info > .inner .text.top {
        font-size: 1.1em;
        display: inline-block;
    }
    .my-slider .text-info > .inner .text.bottom {
        font-size: .8em;
        display: inline-block;
    }
    .my-slider .text-info > .inner .text.more {
        font-size: .8em;
        display: inline-block;
    }

    .my-slider .text-info.two > .inner .text.top {
        padding: 20px 35px 5px;
    }
    .my-slider .text-info.two > .inner > .wrapper {
        width: 210px;
        height: 210px;
    }
    .my-slider .text-info.four > .inner > .wrapper {
        width: 210px;
        height: 210px;
    }
}

@media all and ( min-width: 960px ) {
    .my-slider .text-info > .inner .text.top {
        font-size: 1.1em;
    }
    .my-slider .text-info > .inner .text.bottom {
        font-size: 1em;
        display: inline-block;
    }
    .my-slider .text-info > .inner .text.more {
        font-size: .9em;
        display: inline-block;
    }
}

@media all and ( min-width: 1024px ) {

}

@media all and ( min-width: 1300px ) {

}