section .payment-list.content-one .banner {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 5%;
    margin-top: 10%;
}

section .payment-list.content-one h2 {
    display: inline-block;
    font-size: 24px;
    color: #0272c2;
}

@media all and (min-width: 600px ) {
    section .payment-list.content-one h2 {
        font-size: 28px;
    }
}

@media all and (min-width: 800px ) {
    section .payment-list.content-one h2 {
        font-size: 36px;
    }
}

@media all and (min-width: 980px ) {
    section .payment-list.content-one h2 {
        margin-bottom: 18px;
        font-size: 48px;
    }
}