section .register.content-two > div {
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 980px;
}

section .register.content-two > div > form   {
    position: relative;
    display: inline-block;
    width: 100%;
}

section .register.content-two .button {
    display: inline-block;
    padding: 10px;
    width: 50%;
    float: left;
}

section .register.content-two .button input {
    display:inline-block;
    padding: 0;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
}

section .register.content-two .header-detail {
    position: relative;
    margin: 10px 25px;
    font-size: 12px;
    overflow: hidden;
}

section .register.content-two .header-detail:after {
    display: inline-block;
    content: "";
    height: 1px;
    background: #bbb;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: 10px;
}


section .register.content-two  input[type='submit'] {
    color: #FFFFFF;
    background-color: #2ecc71;
}

section .register.content-two  input[type='button'] {
    color: #676767;
    background-color: #dfdfdf;
    text-align: center;
}

section .register.content-two .line {
    position: relative;
    padding: 10px;
    clear: both;
}

section .register.content-two .agree-line {
    padding: 22px;
    clear: both;
}

section .register.content-two .line label {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 15px;
    left: 25px;
    color: #bbbbbb;
    font-size: 12px;
    font-family: "Arial", "Open Sans", sans-serif;
}

section .register.content-two input[tabindex="101"] {
    height: 50px;
    outline: 0;
    padding: 18px 0 0 14px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    color: #545454;
    font-size: 16px;
    font-family: "Arial", "Open Sans", sans-serif;
}

section .register.content-two input[tabindex="101"]:focus {
    border: 1px solid #419df2;
}

section .register.content-two input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

@media all and (min-width: 380px ) {

}

@media all and (min-width: 480px ) {

}

@media all and (min-width: 600px ) {
    section .register.content-two > div {
        padding: 50px 0;
    }
}

@media all and (min-width: 800px ) {
    section .register.content-two > div {
        padding: 100px 0;
    }
}
