section .register > div {
    position: relative;
    margin: 0 auto;
    max-width: 980px;
}
section h2 {
    padding-top: 20px;
}
section .register .submit input {
    display:block;
    padding: 12px 45px;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #3598dc;
    margin-left: 150px;
}

section .register .line {
    padding: 10px;
    clear: both;
}

section .register .line label {
    float: left;
    padding: 7px;
    width: 150px;
    color: #1e1e1e;
    border-radius: 5px;
    font-family: "Arial", "Open Sans", sans-serif;
}

section .register input[tabindex="101"] {
    outline: 0;
    padding: 7px;
    min-width: 200px;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    font-family: "Arial", "Open Sans", sans-serif;
}
section .register input#user_email {
    min-width: 340px;
}

section .register input#address {
    min-width: 450px;
}

section .register input[tabindex="101"]:focus {
    border: 1px solid #419df2;
}

