.reservation {
    text-align: center;
}

.reservation .prev-month,
.reservation .next-month {
    font-size: 21px;
    font-weight: bold;
    color: #28cd8d;
}

.reservation .prev-month {
    float: left;
}

.reservation .this-month {
    font-size: 26px;
    color: #fd1e42;
}

.reservation .next-month {
    float: right;
}
.calendar {
    width: 100%;
}

.calendar-day {
    min-width: 40px;
}

.calendar, th, td {
 border: 3px solid #fff;
}

.calendar td {
    height: 32px;
    text-align: center;
    background-color: #f1f1f1;
}

.calendar tr > td:first-child,
.calendar tr > td:last-child {
    background-color: #eaeaea;
}

.calendar td.calendar-day-head {
    height: 40px;
    background-color: #7d7d7d;
}

.calendar td.calendar-day-head:first-child,
.calendar td.calendar-day-head:last-child {
    background-color: #eaeaea;
}


@media all and (  min-width: 600px ) {
    .calendar td {
        height: 64px;
    }
}
@media all and (  min-width: 800px ) {
    .calendar td {
        height: 82px;
    }
}
.calendar-day-np {
    background-color: #f0f0f0;
}

.day-number {
    position: absolute;
    padding: 15px 0 0 10px;
}
.calendar-day > .books {
    position: relative;
    padding: 15px 0 0 34px;
}

.calendar .books {
    /*background-color: #eec188;*/
}
.calendar .books .book .icon {
    display:inline-block;
    width: 25px;
    height: 26px;
    overflow: hidden;
    border-radius: 50%;
}

.tooltip-inner {
    padding: 6px 12px;
    background-color: #fd0e35;
    border-radius: 2px;
    color: #fff;
}
.tooltip-arrow {
    border-top-color: #fd0e35!important;
    color: #fd0e35;
}

