section .reservation.content-one {
    background: url("../img/header/reservation-banner1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 280px;
}

section .reservation.content-one .title {
    display: inline-block;
    padding: 1px 11px;
    margin: 23px 0 0 2px;
    float: left;
    border-radius: 3px;
    background-color: #e74c3c;
    text-align: left;
    font-size: 14px;
    color: #FFFFFF;
}

section .reservation.content-one .level {
    text-align: right;
    margin-bottom: 4px;
    font-size: 41px;
    color: #FFFFFF;
}

section .reservation.content-one .desc {
    text-align: right;
    font-size: 18px;
    color: #FFFFFF;
}


section .reservation.content-one .banner.text {
    position: absolute;
    float: right;
    right: 0;
    top: 20px;
    width: 296px;
    display: inline-block;
}

section .reservation.content-one .img1 {
    position: absolute;
    float: left;
    height: 280px;
}

section .reservation.content-one .img1 img{
    position: absolute;
    bottom: 0;
    left: 0;

}