section .sitemap.content-two {

}

section .sitemap.content-two .row {
    margin: 100px 0 45px;
}

section .sitemap.content-two .cover {
    position: relative;
    height: 100px;
    margin-bottom: 55px;
}

section .sitemap.content-two .cover img {
    z-index: 1;
    position: relative;
    top: 10px;
}

section .sitemap.content-two .cover .text {
    position: absolute;
    width: 100%;
    border-left: 27px solid transparent;
    top: 0;
    /*left: 40px;*/
}

section .sitemap.content-two .cover .text a {
    display: block;
    height: 100px;
    padding: 20px 0 0 60px;
    font-size: 33px;
    color: #FFFFFF;
}

section .sitemap.content-two .cover .text a:hover {
    text-decoration: none;
}

section .sitemap.content-two .cover .text.login a {
    background-color: #3498db;
}

section .sitemap.content-two .cover .text.register a {
    background-color: #1abcb6;
}

section .sitemap.content-two .cover .text.help a {
    background-color: #2ecc71;
}

section .sitemap.content-two .cover .text.all a {
    color: #454c4d;
    background-color: #d5e3e6;
}









