section .sitemap.content-one {
    background: url("../img/sitemap-banner1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 240px;
}


section .sitemap.content-one h2 {
    display: inline-block;
    margin-left: 5px;
    font-size: 46px;
    color: #FFFFFF;
    width: 350px;
}


section .sitemap.content-one .desc {
    display: inline-block;
    padding-left: 7px;
    font-size: 20px;
    color: #FFFFFF;
}

section .sitemap.content-one .banner {
    position: absolute;
    display: inline-block;
    float: left;
    width: 350px;
    margin-top: 100px;
}

section .sitemap.content-one .img1 {
    position: absolute;
    right: 5px;
    float: right;
    height: 240px;
}

section .sitemap.content-one .img1 img{
    position: absolute;
    bottom: 0;
    right: 0;
}