section .sitemap.content-two {

}

section .sitemap.content-two .row {
    margin: 50px 0 100px;
}

section .sitemap.content-two .cover {
    position: relative;
    margin-bottom: 50px;
}

section .sitemap.content-two .cover img {
    z-index: 1;
    position: relative;
    top: 10px;
}

section .sitemap.content-two .cover .text {
    position: absolute;
    top: 0;
    left: 40px;
}

section .sitemap.content-two .cover .text a {
    display: block;
    height: 100px;
    width: 260px;
    padding: 20px 0 0 60px;
    font-size: 33px;
    color: #FFFFFF;
}

section .sitemap.content-two .cover .text a:hover {
    text-decoration: none;
}

section .sitemap.content-two .cover .text.login  {
    background-color: #3498db;
}

section .sitemap.content-two .cover .text.register  {
    background-color: #1abcb6;
}

section .sitemap.content-two .cover .text.help  {
    background-color: #2ecc71;
}

section .sitemap.content-two .cover .text.all  {
    color: #454c4d;
    background-color: #d5e3e6;
}









