section .skype.content-two > div {
    padding: 70px 0;

}
section .skype.content-two .line-faq {
    padding: 0 20px;
    width: 100%;
    clear: both;
}

section .skype.content-two .line-faq .title {
    width: 100%;
    padding-top: 10px;
    font-size: 24px;
    color: #04a0d3;
}

section .skype.content-two .line-faq h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

section .skype.content-two .line-faq .desc {
    display: block;
    margin-top: 10px;
    padding: 20px;
    font-size: 16px;
    color: #1b3b46;
    background-color: #e7f0f5;
}
section .skype.content-two .line-faq .text {
    margin: 20px 0 30px
}

section .skype.content-two .line-faq .desc img {
    width: 80%;
    height: auto;
}

section .skype.content-two .line-faq .indent {
    margin-left: 40px
}




