section .skype.content-one {
    height: 280px;
}


section .skype.content-one h2 {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 46px;
    color: #FFFFFF;
    width: 600px;
}


section .skype.content-one .desc {
    display: inline-block;
    padding-left: 7px;
    font-size: 20px;
    color: #FFFFFF;
}

section .skype.content-one .banner {
    position: absolute;
    display: inline-block;
    float: left;
    width: 600px;
    margin-top: 75px;
}

section .skype.content-one .img1 {
    position: absolute;
    right: 5px;
    float: right;
    height: 240px;
}

section .skype.content-one .img1 img{
    position: absolute;
    bottom: 50px;
    right: 0;
}