section .teachers.content-two > div {
    padding: 50px 0 50px;
}

section .teachers.content-two > div .teacher-row {
    position: relative;
    display: inline-block;
}

section .teachers.content-two .teacher {
    margin: 0;
    padding-bottom: 20px;
    border: 8px solid #ffffff;
    background-color: #01d9c1;
    text-align: center;
}
section .teachers.content-two .teacher .photo {
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 30px 0 16px;
    height: 150px;
    width: 150px;
    border: 3px solid #ffffff;
    border-radius: 100%;
}

section .teachers.content-two .teacher .id {
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
section .teachers.content-two .teacher .text {
    margin-left: 13px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1em;
    color: #FFFFFF;
}

section .teachers.content-two .teacher .major.text {
    height: 48px;
}
section .teachers.content-two .teacher .photo img {
    width: 150px;
    height: auto;
}
section .teachers.content-two .teacher .greeting {
    height: 240px;
    overflow-y: hidden;
    word-break: keep-all;
}
section .teachers.content-two .teacher .youtube iframe {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}


section .teachers.content-two .teacher .youtube {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 154px;
    cursor:pointer;
}

.youtube .play {
    background: url("../img/play.png") no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .5 ;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}

.youtube .play:hover {
    opacity: 1;

}