section .testing.content-one div > img {
    width: 100%;
    height: auto;
}
section .testing.content-one .banner {
    position: absolute;
    display: inline-block;
    width: 55%;
    top: 0;
    left: 5%;
    margin-top: 5%;
}

section .testing.content-one h2 {
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
}

section .testing.content-one .desc {
    font-size: 12px;
    color: #FFFFFF;
}

@media all and (min-width: 600px ) {
    section .testing.content-one h2 {
        font-size: 28px;
    }
}

@media all and (min-width: 800px ) {
    section .testing.content-one h2 {
        font-size: 36px;
    }
}

@media all and (min-width: 980px ) {
    section .testing.content-one {
        background: url('../../themes/x5/img/header/testing-banner1.jpg') no-repeat center center;
        height: 280px;
    }
    section .testing.content-one h2 {
        margin-bottom: 18px;
        font-size: 48px;
    }
}