.forum {
    max-width: 960px;
    margin: 0 auto;
}


/** overriding bootstrap */
.register .modal-header {
    border-bottom: 0;
}
.register .modal-body {
    padding: 0 15px;
    box-sizing: border-box;
}
.register .modal .btn {
    border-radius: 0;
}
.register .modal-content { border-radius: 0;  }
.register .modal-footer {
    border-top: 0;
}
@media all and (min-width: 544px) {
    .register .modal-dialog {
        margin: 140px auto;
    }
}


#nobar{
    position: fixed;
    background: #2c3644;
    color: #fff;
    font-size:16px;
    top: 0;
    left: 0;
    width: 100% !important;
    padding: 2px 0;
    text-align: center;
}