.lost-password {
    padding: 40px 0 40px;
    text-align: center;
}


.lost-password h2{
    padding: 30px 0 10px;
}
.lost-password form .line {
    position: relative;
    padding: 10px;
    clear: both;
}


@media all and (min-width: 380px ) {

}

@media all and (min-width: 600px ) {
    .lost-password{
        padding: 40px 0 50px;
    }
}

@media all and (min-width: 800px ) {
    .lost-password{
        padding: 40px 0 80px;
    }
}

@media all and (min-width: 980px ) {
    .lost-password{
        padding: 60px 0 100px;
    }
}