section .user-update.content-two > div {
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
    max-width: 980px;
}

section .user-update.content-two > div > form   {
    position: relative;
    display: inline-block;
    width: 100%;
}

section .user-update.content-two h2 {
    padding-top: 20px;
}

section .user-update.content-two .text.user-login {
    padding-top: 13px;
}

section .user-update.content-two .button {
    display: inline-block;
    padding: 10px;
    width: 50%;
    float: left;
}

section .user-update.content-two .button input {
    display:inline-block;
    padding: 0;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
}


section .user-update.content-two  input[type='submit'] {
    display: inline-block;
    color: #FFFFFF;
    background-color: #2ecc71;
    padding: 0;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
}

section .user-update.content-two .change-pwd {
    position: relative;
    display: inline-block;
    padding: 13px 40px;
    border-radius: 3px;
    background-color: #2ecc71;
    color: #FFFFFF;
    cursor: pointer;
}

section .user-update.content-two  input[type='button'] {
    color: #676767;
    background-color: #dfdfdf;
    text-align: center;
}

section .user-update.content-two .line {
    padding: 10px;
    clear: both;
}

section .user-update.content-two .line label {
    float: left;
    padding: 13px 0;
    width: 150px;
    color: #1e1e1e;
    border-radius: 3px;
    font-family: "Arial", "Open Sans", sans-serif;
}

section .user-update.content-two input[tabindex="101"] {
    height: 50px;
    outline: 0;
    padding: 7px;
    width: 280px;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    font-family: "Arial", "Open Sans", sans-serif;
}

section .user-update input#user_email {
    min-width: 360px;
}

section .user-update input#address {
    min-width: 450px;
}


section .user-update.content-two input[tabindex="101"]:focus {
    border: 1px solid #419df2;
}

section .user-update.content-two input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset!important;
}