form {
    padding: 50px 0;
    max-width: 980px;
    margin:auto;
}


form .file-upload {
    padding: 5px 0 0 12px;
    width: 135px;
    margin-right: 10px;
    cursor: pointer;
}

form .dashicons-camera {
    font-size: 25px;
}

.comment-edit form textarea {
    width: 100%;
    height: 20em;
}