/* Custom CSS for Posting on Forum*/
.content .data main {
    padding: 3em 0 5em;
}

#post-new [name='title'] {
    margin: 0 0 .6em;
    width: 100%;
    padding: 10px;
    border: 0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #e6e6e6;
}

.btn-primary {
    color: #fff;
    background-color: #2cae63;
    border-color: #2cae63;
    padding: .25rem 2.75rem;
}


form .file-upload .fa-file-image-o {
    padding: .3em 0 0 .4em;
    font-size: 1.4em;
    vertical-align: bottom;
}

.file-upload .text {
    margin-left: 10px;
}