/* L A Y O U T */

.content .data main {
    padding: 1em;
}


/** file upload */
form .loader {
    display: none;
}

.file-upload {
    position: relative;
    width: 200px;
    height: 32px;
    overflow: hidden;
    background-color: #e9e9e9;
    border-radius: 2px;
}

form .file-upload .fa-camera {
    padding: .3em 0 0 .4em;
    font-size: 1.4em;
    vertical-align: bottom;
}

.file-upload .text {
    font-size: 1em;
}

.file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 32px;
    font-size: 2em;
}


form .buttons,
form .photos,
form .files {
    overflow: auto;
    overflow-y: hidden;
}

form .buttons {
    margin-top: .3em;
}

form .buttons .file-upload {
    height: 2em;
    float: left;
}
form .buttons .submit {
    height: 2em;
    float: right;
}

form .photos .attach {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
}

form .photos .attach img {
    width: 100%;
    height: auto;
}
form .photos .attach .delete {
    position: absolute;
    z-index: 3;
    padding: 6px;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: inherit;
    background-color: aliceblue;
    cursor: pointer;
}

form .photos .attach:nth-child(even) .delete {
    background-color: #7ba8bf;
}


form .files .attach .delete {
    padding-left: 2em;
}
form .attach .delete .dashicons-trash {
    font-size: 1.5em;
}

