#post-new {

}

.post-new-meta {
    padding: .8em;
}
.post-new-meta .top {
    color: #06000a;
}

.forum-title {
    font-size: 1.4em;
}

.forum-description {
    margin-top: .4em;
    padding: 0 0 .4em;
    border-bottom: 1px solid #dfdfdf;
    font-size: .9em;
    color: #494949;
}

/** title & content */


#post-new form {
    margin-top: 1em;
}
#post-new [name='title'] {
    margin: 0 0 .6em;
    width: 100%;
}

/* Buttons : Submit, cancel, Post file upload button */

#post-new .buttons {
    overflow: auto;
}
#post-new .buttons .file-upload {
    float: left;
}

#post-new .buttons .right {
    float: right;
}

