.comments-title {
    font-size: 1.2em;
    font-weight: 300;
    color: #c2d4d8;
}
.comment-new {
    margin: 1em 0;
    overflow: auto;
}


.comment-new .comment-content textarea {
    margin: 0;
    height: 4em;
    width: 100%;
}




/** comments_basic function style */
.comment-buttons {
    overflow: auto;
}
.comment-buttons > div {
    float: left;
    padding: .1em .6em .1em .1em;
    color: #3b3a36;
    font-size: .9em;
    cursor: pointer;
}
.comment-buttons > div a:hover {
    text-decoration: none;
}
.comment-buttons > div:before {
    padding-right: .4em;
    content: '·';
}

.comment-buttons > div:first-child:before {
    content: '';
}

/** Attachment display on comment view */
.comment-list .comment .photos,
.comment-list .comment .files {
    overflow: auto;
    overflow-y: hidden;
}

.comment-list .comment .photos .attach img {
    max-width: 100%;
}




ol.comment-list,
ul.children {
    list-style: none;
    margin: 0;
    padding: 0;
}


.depth-1 {
}
.depth-2 {
    margin-left: 1em;
}
.depth-3 {
    margin-left: .8em;
}
.depth-4 {
    margin-left: .6em;
}
.depth-5 {
    margin-left: .5em;
}
.depth-6 {
    margin-left: .4em;
}
.depth-7 {
    margin-left: .3em;
}
.depth-8 {
    margin-left: .2em;
}
.depth-9, .depth-10,
.depth-10,.depth-12,.depth-13,.depth-14,.depth-15
{
    margin-left: .1em;
}


.comment-text {
    margin-top: .6em;
    padding: .8em;
    background-color: #f6f1ed;
}
.comment-text > p:last-child {
    margin-bottom: 0;
}