/* Custom CSS for list basic */

.content .data main {
    padding: 100px 1em 70px;
}

.post-list-container .header > div {
    background-color: #2a80b9;
    color: #FFFFFF;
}

.forum-description {
    font-size: 24px;
    color: #3b3b3b;
}

.post-list-meta .bottom a {
    text-decoration: none;
    color: #FFFFFF;
}

.post-new-button {
    padding: .2em 1em;
    border-radius: 3px;
    background-color: #e67e22;
    color: #FFFFFF;
}

.post-list-container .post:nth-child(even) {
    background-color: #FFFFFF;
}

.post-list-container .post:nth-child(odd) {
    background-color: #f1f1f1;
}

.pagination {
    background-color: #2a80b9;
    padding: 5px 0;
}

.pagination ul {
    text-align: right;
    padding-right: 10px;
}

.pagination li {
    text-align: center;
}

.post-list-container .author,
.post-list-container .date,
.post-list-container .no-of-view {
    text-align: center;
}

.pagination .page-numbers,
.pagination .page-numbers.prev,
.pagination .page-numbers.next,
.pagination .page-numbers.dots {
    width: 37px;
    height: 37px;
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #2e2d2d;
}

.pagination .page-numbers.current {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    color: #e3eef6;
}
