.comments-area .comments-title{
	color: #006dcc;	
}
.comment-meta{
	font-weight: bold;
	font-size: 12px;
}
.comment-body .comment-text{
	background-color: #fff;
	font-size: 14px;
}
.comment-new .comment-content textarea{
	border-radius: 5px;
}
.submit #post-submit-button{
	padding-top: 5px;
	border: none;
	border-radius: 3px;
	background-color: #006dcc;
	color: #fff;
}
.maid-image{
	height:390px;
    background-color:#FFFFFF;
    margin-top:10px;
    overflow: hidden;
}
.maid-image img{
	height: 100%;
	margin-left: -30%;
}
.experience-text{
	padding: 10px 0 10px 0;
	font-weight: bold;
}
.description-title{
	padding: 10px 0 10px 0;
	font-weight: bold;
	text-transform: uppercase;
}
